*{
    transition: all 0.5s ease;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0a09097e;
    border-bottom: 2px solid rgb(10, 10, 10);
    animation: 1s ease-out 0s 1 slideInFromLeft;
}


.Proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

main {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgb(167, 166, 187) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#app {
    display: flex;
    align-self: center;
    justify-content: left;
    gap: .5rem;
    padding: 1rem  1.5rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;

    & span{
        z-index: 3;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    & .icon{
        height: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: .5rem;
        background-color: rgb(45, 17, 170);
        z-index: 3;

        & svg{
            fill: #020202;
        }
    }

    & .overlay{
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #0a09097e;
        z-index: 1;
        clip-path: circle(12% at 79% 49%);
        transition: all .5s ease-in;
    }

    &:hover{
        cursor: pointer;

        & .overlay{
            clip-path: circle(120% at 76% 49%);
        }
    }
} 

h1 {
    padding: 5px; 
    margin: 10px; 
    border: 2px solid rgb(17, 12, 12); 
    background-color: #0a09097e(216, 77, 77); 
    color: rgb(2, 2, 2); 
    text-align: center;
    font-size: 30px;
    border-radius: 12px;
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% {color: rgb(247, 247, 247);}
    50% {color: rgb(2, 2, 2);}
    100% {color: red;}
}

@media screen and (max-width: 600px) {
    body {
      background-color: rgb(0, 0, 0);
    }
  
    header, main, form {
      padding: 0;
      margin: 0;
    }
  
    .Proyectos {
      display: block;
    }
  }

p {
    margin: 10px 0;
    padding: 0 20px;
}

a {
    transition: color 0.5s ease;
}
a:hover {
    color: #000000;
}

ul {
    list-style-type: square;
    padding: 0 40px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table tr:hover {
    background-color: #000000;
}

table, th, td {
    border: 1px solid #030303;
}

th, td {
    padding: 10px 20px;
    text-align: left;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color:#0a09097e(51, 50, 50); 
}

label {
    display:block; 
}

input[type="email"], textarea {
   width:100%; 
   padding:5px; 
   border-radius:10px; 
   transition:border-color .3s ease-in-out; 
   border-color:#f3f1f1; 
   margin-bottom:5px; 
   border:solid thin #aaa; 
   box-shadow:none; 
}

input[type="submit"] {
   background-color:#000000; 
   color:#fff; 
   padding:10px; 
   border:none; 
   border-radius:4px; 
   cursor:pointer; 
   transition:.3s ease-in-out; 
}

input[type="submit"]:hover {
   background-color:#0a0a0a; 
}

footer {
    background-color: #0a09097e;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0.5px 0;
}



